<tr>
	<td><%= repo_detail["full_name"] %></td>
	<td><%= repo_detail["ssh_url"] %></td>
	<td><%= repo_detail["clone_url"] %></td>
	<td><%= repo_detail["default_branch"] %></td>
	<td><%= repo_detail["pushed_at"] %></td>
</tr>